body {
	font-family: $p-font;
	color: $mid-grey;
	outline: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $brand-green;
	text-decoration: none;
}

h1, h2, h3 {
	text-transform: uppercase;
	font-weight: 300;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

p {
	font-size: 14px;
}

button {
	background: $brand-green;
	color: #FFF;
	display: inline-block;
	padding: 5px 10px;
	border: none;

	a {
		color: #FFFFFF;

		&:hover {
			color: #FFF;
			text-decoration: none;
		}

	}

	&:hover {
		cursor: pointer;
		background: #1d9a9b;
	}
}
