@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-green:         #27bdbe;
$dark-grey:         #313131;
$mid-grey:         #414141;
$light-grey:         #e1e1e1;

// Font families
$p-font: 	'Open Sans', sans-serif;
