div.meta-header {
	position: fixed;
	z-index: 999;
	width: 100%;
	padding: 10px;
	background-color: $dark-grey;
	color: #FFFFFF;
  	font-size: 13px;

  	.meta-contact {
  		float: right;

  		span {
  			display:inline-block;
  			padding-left:15px;
  		}
  	}
}

.banner {
	padding-top: 20px;

	a.brand {
		display: block;
		max-width: 460px;
		width: 100%;
		margin: 30px auto 15px;

		img {
			width: 100%;
		}

	}

}


/*/////// NAV PRIMARY //////*/
.nav-primary {
	border-top: dashed 1px #CCC; 
	padding: 10px 0;
	overflow: hidden;

	ul {
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			text-align: center;
			padding: 5px 0;
			min-width: 14%;

			a {
				color: $mid-grey;
				text-transform: uppercase;
			}
		}

	}

}


/*//// CAROUSEL STYLES ////*/

.carousel {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .slick-slide img {
    width: 100%;
  }

	.slick-arrow {
		width: 60px;
		height: 60px;
		text-indent: -999999em;
		overflow: hidden;
		position: absolute;
		top: 39%;
		left: 10px;
		z-index: 99;
		border: none;
	}

	.slick-prev {
		background: url(../../assets/images/left_arrow.png) no-repeat top left;
	}
	.slick-next {
		background: url(../../assets/images/right_arrow.png) no-repeat top left;
		right: 10px;
		left: auto;
	}

	.slick-slide {
		position: relative;

		.caption {
			position: absolute;
			bottom: 0;
			right: 10px;
			display: inline-block;
			padding: 10px;
			z-index: 99;
			background: $dark-grey;
			color: #FFF;
			opacity: 0.9;
			font-size: 14px;
		}
	}

}
