
/*//// HOMEPAGE ////*/

h2.page_title {
  padding: 30px 0 0;
  text-align: center;
}

.page_content {
  padding: 30px 10% 0;
  text-align: center;
  overflow: hidden;
}


div.locations {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 50px;

  .location-item {

    span.tel {
      color: $brand-green;
      display: inline-block;
      padding: 0 20px 0 5px;
    }

  }

  .location-item::before {
    content: "• ";
  }

}


.page-item-container {
  width: 33%;
  float: left;
  text-align: center;

  h3::before {
    content: "• ";
    color: $brand-green;
  }

}

.page-item {
  margin: 20px auto 30px;
  position: relative;
  border-radius: 130px;
  width: 260px;
  height: 260px;
  overflow: hidden;
  overflow: hidden;
  background-color: $dark-grey;
  color: #FFF;

  img {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
  }

  .info {
    position: absolute;
    top: 53%;
    width: 80%;
    left: 10%;

    p {
      font-size: 11px;
      margin: 0;
    }
    .btn {
      background: $brand-green;
      color: #FFF;
      font-size: 11px;
      padding: 5px;
      border-radius: 0;
      margin-top: 10px;
      text-transform: uppercase;

      &:hover {
        opacity: 0.8;
      }
    }

  }
}



/*////// Testimonial ///////*/

.testimonial {
  padding: 30px 20%;
  text-align: center;
  overflow: hidden;
  clear: both;

  p {
    font-size: 18px;
    color: #22a5cf;
  }

  span {
    color: $dark-grey;
    text-transform: uppercase;
    font-size: 16px;
  }

}

/*////// News ///////*/

section.news {
  margin: 30px auto;

  .news-item {
    padding: 20px;

    p {
      font-size: 13px;
    }
  }
}


/*////// FAQs ///////*/
#accordion {
  padding: 30px 10%;

  .accordion-toggle {
    cursor: pointer;
    padding: 15px;
    border-bottom: dashed 1px #CCC;
    position: relative;
  }
  .accordion-toggle::after {
      content: "\271A";
      display: block;
      width: 30px;
      padding: 5px 0;
      position: absolute;
      right: 0;
      top: 10px;
      text-align: center;
      font-weight: bold;
      background: $brand-green;
      color: #FFF;
  }
  .accordion-toggle.active::after {
      background: #b7b7b7;
      content: "\2716";
  }
  .accordion-content {
    display: none;
    padding: 0 10%;
  }
  .accordion-content.default {
    display: block;
  }
}
