
/*//// HOMEPAGE ////*/

a img {
  &:hover {
    opacity: 0.8;
  }
}

h2.page_title {
  padding: 30px 0 0;
  text-align: center;
}

.page_content {
  padding: 30px 10% 0;
  text-align: center;
  overflow: hidden;
}


div.locations {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 50px;

  .location-item {

    span.tel {
      color: $brand-green;
      display: inline-block;
      padding: 0 20px 0 5px;
    }

  }

  .location-item::before {
    content: "• ";
  }

}

.locations_list {
  overflow: hidden;
  padding: 30px 0;
  text-align: center;

  h3 {
    font-size: 20px;
    padding-bottom: 15px;
    display: inline-block;
  }

  iframe {
    display: block;
    margin-bottom: 15px;
  }
}


form.wpcf7-form {

  label {
    display: inline-block;
    font-family: Open Sans,sans-serif;
    text-transform: uppercase;
  }

  input,
  textarea,
  select {
    padding: 10px;
    border: none;
    background: #efefef;
    font-family: Open Sans,sans-serif;
    margin-top: 5px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type=submit] {
    background: $brand-green;
    color: #FFF;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

}


.secondary_content {
  margin: 0 0 60px;
}


h3.item_name {
  text-align: center;
}
h3.item_name::before {
  content: "• ";
  color: $brand-green;
}
h3.item_name a {
  color: #292b2c;

  &:hover {
    color: $brand-green;
  }
}

.page-item {
  margin: 20px auto 30px;
  position: relative;
  border-radius: 130px;
  width: 260px;
  height: 260px;
  overflow: hidden;
  overflow: hidden;
  background-color: $dark-grey;
  color: #FFF;
  text-align: center;

  img {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
  }

  .info {
    position: absolute;
    top: 53%;
    width: 80%;
    left: 10%;

    p {
      font-size: 11px;
      margin: 0;
    }
    .btn {
      background: $brand-green;
      color: #FFF;
      font-size: 11px;
      padding: 5px;
      border-radius: 0;
      margin-top: 10px;
      text-transform: uppercase;

      &:hover {
        opacity: 0.8;
      }
    }

  }
}



/*////// Testimonial ///////*/

.testimonial {
  padding: 30px 20%;
  text-align: center;
  overflow: hidden;
  clear: both;

  p {
    font-size: 18px;
    color: #22a5cf;
  }

  span {
    color: $dark-grey;
    text-transform: uppercase;
    font-size: 16px;
  }

}

/*////// News ///////*/

section.news {
  margin: 30px auto;

  h3 {
    padding-left: 20px;
  }

  .slick-dots {
    padding: 0 0 0 20px;

    li {
      float: left;
      list-style: none;
      display: inline-block;
      margin-right: 20px;

      button {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        padding: 0; 
        text-indent: -999999em;
        background-color: #CCC;
      }
    }

    li.slick-active {
      button {
        background-color: #333;
      }
    }
      
  }

  .news-item {
    padding: 20px;

    p {
      font-size: 13px;
    }
  }
}


/*////// FAQs ///////*/
#accordion {
  padding: 30px 10%;

  .accordion-toggle {
    cursor: pointer;
    padding: 15px;
    border-bottom: dashed 1px #CCC;
    position: relative;
  }
  .accordion-toggle::after {
      content: "\271A";
      display: block;
      width: 30px;
      padding: 5px 0;
      position: absolute;
      right: 0;
      top: 10px;
      text-align: center;
      font-weight: bold;
      background: $brand-green;
      color: #FFF;
  }
  .accordion-toggle.active::after {
      background: #b7b7b7;
      content: "\2716";
  }
  .accordion-content {
    display: none;
    padding: 0 10%;
  }
  .accordion-content.default {
    display: block;
  }
}




/*///// OSTEOPATHS //////*/
.osteopaths_list {
  margin: 50px 0 0; 

  .osteo {
    padding-bottom: 50px;
  }

  h2 {
    text-align: center;
    padding-bottom: 30px;
  }

  h4 a {
    color: $dark-grey;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul.location_attr {
    margin: 0 0 15px;
    padding: 0;
    display: block;
    overflow: hidden;

    span.location {
      font-size: 12px;
      text-transform: uppercase;
      color: $brand-green;
    }

    li {
      display: inline-block;
      float: left;
    }

    li:nth-child(2)::before,
    li:nth-child(3)::before {
      content:"• ";
      display: inline-block;
      margin: 0 6px;  
    }

  }
  


  p, button {
    font-size: 12px;
  }


  img {
    position: relative;
    border-radius: 90px;
    width: 180px;
    height: 180px;
    float: left;
    margin-right: 20px;
    margin-bottom: 80px;
  }

}


.profile_pic img { 
    position: relative;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto; 
}

.filter {
    padding: 7px 10% 0;
    background: #efefef;
    display: block;
    overflow: hidden;
    font-size: 14px;
    margin: -10px auto 35px;
    max-width: 760px;

  span {
    font-weight: 600;
    padding-right: 20px;
  }

  label {
    padding-right: 14px;
    font-size: 13px;
  }

}


.more_information {
  padding: 50px 0 0;

  h2 {
    text-align: center;
    padding-bottom: 10px;
  }

  .child_page {
    background-color: #efefef;
    padding: 20px;
    margin: 10px 0;

    h3 {
      font-size: 18px;
    }
    p {
      font-size: 13px;
    }

    img {
      float: left;
      margin: 0 20px 20px 0;
    }

  }
}



/*///// THERAPIES //////*/
.therapies_list {

  .info {
    padding-top: 15px;

    h3 {
      font-size: 18px;
    }

    h3 a {
      color: #FFFFFF;

      &:hover {
        color: $brand-green;
      }
    }
    
  }

  p, button {
    font-size: 12px;
  }

  img {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
  }

}
