
/*//// HOMEPAGE ////*/
.page_content {
  padding: 30px 10% 0;
  text-align: center;
  overflow: hidden; 
}


.locations {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 50px;

  .location-item {

    span.tel {
      color: $brand-green;
      display: inline-block;
      padding: 0 20px 0 5px;
    }

  }

}


.page-item-container {
  width: 33%;
  float: left;
  text-align: center;
}

.page-item {
  margin: 20px auto 30px;
  position: relative;
  border-radius: 130px;
  width: 260px;
  height: 260px;
  overflow: hidden;
  overflow: hidden;
  background-color: $dark-grey;
  color: #FFF;

  img {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
  }

  .info {
    position: absolute;
    top: 53%;
    width: 80%;
    left: 10%;

    p {
      font-size: 11px;
      margin: 0;
    }
    .btn {
      background: $brand-green;
      color: #FFF;
      font-size: 11px;
      padding: 5px;
      border-radius: 0;
      margin-top: 10px;
      text-transform: uppercase;

      &:hover {
        opacity: 0.8;
      }
    }

  }
}



/*////// Testimonial ///////*/

.testimonial {
  padding: 30px 20%;
  text-align: center;
  overflow: hidden;
  clear: both;

  p {
    font-size: 18px;
    color: #22a5cf;
  }

  span {
    color: $dark-grey;
    text-transform: uppercase;
    font-size: 16px;
  }

}
